<div class="container">
    
    <ol>
        <ul>
            <a href="http://localhost:4000/usuario">Listar Usuario</a>
        </ul>
        <ul>
            <a href="http://localhost:4000/plataforma">Ver plataformas</a>
        </ul>
        <ul>
            <a href="http://localhost:4000/videojuegos">Ver videojuegos</a>
        </ul>
 
    </ol>

</div>